# Ignores everything:
* 

## NOT IGNORED:
!InfernetWrapper
InfernetWrapper/*
!InfernetWrapper/__init__.py
!InfernetWrapper/MatchboxHelper
InfernetWrapper/MatchboxHelper/*
!InfernetWrapper/MatchboxHelper/*.dll
!src/
!src/*.cs
!src/*.csproj
!main.py
!README.md
!.gitignore
!RatingPredictors.py
!requirements.txt
!trials/
!trials/*
!figs/
figs/*
!figs/plotsFromCSV.py