# Ignores everything:
* 

## NOT IGNORED:
!InfernetWrapper
InfernetWrapper/*
!InfernetWrapper/__init__.py
!InfernetWrapper/MatchboxHelper
InfernetWrapper/MatchboxHelper/*
!InfernetWrapper/MatchboxHelper/*.dll
!data/
!src/Compile.cmd
!src/*.cs
!src/*.csproj
!main.py
!README.md
!.gitignore
!MatchboxImplementations.py
!requirements.txt